.border {
	background: light gray;
	border: 5px solid #2e3436;
}
	
input[type=text]{
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
	height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}


input[type=submit]{
 width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#deleteButton {
 width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

#deleteButton:hover {
  background-color: #cc0000;
}

.column {
  float: left;
  width: 60%;
  padding: 10px;
}

.row {
  content: "";
  display: table-row;
  clear: both;
}

.padding {
  padding: 10px;
}

	